*
{
    font-family: 'Space Mono', monospace;
}

body
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 0px 0px;
}

h2
{
    font-size: 10px;
}

h4
{
    font-size: 8px;
    margin: 0px 0px 0px 0px;
    width: 100px;
}

.splitter-title
{
    flex-wrap: wrap;
    height: 80px;
    color: hsl(186, 14%, 43%);
    padding: 0px 0px;
    margin: 0px 0px 25px 0px;
    width: 80px;
    font-weight: 700;
}

.background-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(185, 41%, 84%);
    height: 640px;
    width: 900px;
}

.calculator-container
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    height: 310px;
    width: 570px;
    font-weight: 400;
    border-radius: 15px;
}

.left-section
{
    width: 50%;
    height: auto;
    color: hsl(184, 14%, 56%);
    margin: 20px 20px;
    
}

.bill-container
{
    margin: 5px 5px;
}

.bill-input
{
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    width: 98%;
    display: flex;
}

.tip-container
{
    width: 100%;
    margin: 5px 5px;
}

.select-tip-label
{
    font-size: 11px;
}

.tip-percent-btn
{
    justify-content: space-around space-between;
    background-color: hsl(183deg 100% 15%);
    color: white;
    width: 75px;
    height: 30px;
    margin: 3px 0px;
    border-radius: 5px;
}

.custom-percent-btn
{
    background-color: hsl(189, 41%, 97%);
    color: hsl(184, 14%, 56%);
    width: 75px;
    height: 30px;
    color: black;
    border-radius: 5px;
    margin: 3px 0px;
}

.num-people-container
{
    margin: 5px 5px;
}

.people-input
{
    display: flex;
    justify-content: flex-end;
    background-color: hsl(189, 41%, 97%);
    border-radius: 5px;
    width: 98%;
}

.right-section
{
    display: flex;
    background-color: hsl(183deg 100% 15%);
    width: 50%;
    height: 87%;
    border-radius: 10px;
    color: #FFF;
    flex-wrap: wrap;
    margin: 20px 20px;
}

.right-section h2
{
    font-weight: 400;
}

.calculations
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 20px;
    width: 100%;
}

.calc-label
{
    font-size: 11px;
}

.smaller-calc-text
{
    font-size: 8px;
    color: hsl(184, 14%, 56%);
}

.tip-calculation
{
    display: flex;
    width: 100%;
    height: 20px;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
}

.total-calculation
{
    display: flex;
    justify-items: center;
    align-items: center;
    width: 100%;
    margin: 0px 0px;
    flex-wrap: wrap;
    height: 25%;
    justify-content: space-between;
}

.calc-display
{
    font-size: 30px;
    color: hsl(172, 67%, 45%);
    font-weight: 700;
}

.reset-btn
{
    display: flex;
    background-color: hsl(183deg 79% 24%);
    justify-self: flex-end;
    width: 100%;
    justify-content: center;
    color: hsl(183, 100%, 15%);
    border-radius: 5px;
    align-self: center;
    align-items: center;
    height: 30px;
}

@media screen and (width: 375px)
{

}

@media screen and (width: 1440px)
{
    
}